body{
    background-color: #c2f08fab;
    width: 100%;
    background-image: url(https://avatars.githubusercontent.com/u/91731229?v=4);
}

input{
    background-color: rgb(87, 122, 78);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
}

.inputs{
    width: 40vw;
    display: inline-block;
    justify-content: center;
}